<div class="footer text-white text-center ">
    <div class="container">
        <div class="row g-3">
            <div class="col-md-4">
                <div class="caption">
                    <div class="h3">LOCATION </div>
                    <div class="p">2215 John Daniel Drive </div>
                    <div class="p">Clark, MO 65243 </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="caption">
                    <h3>AROUND THE WE </h3>
                    <div class="social-list mt-4">
                        <a target="_blank" href="https://twitter.com/Ma7moudSyaam"><i class="fab fa-twitter fa-fw"></i></a>
                        <a target="_blank" href="https://www.facebook.com/mahmoudsyam99"><i class="fab fa-facebook-f fa-fw"></i></a>
                        <a target="_blank" href="https://www.instagram.com/ma7moud.syam/"><i class="fab fa-instagram fa-fw"></i></a>
                        <a target="_blank" href="https://www.instagram.com/ma7moud.syam/"><i class="fab fa-dribbble fa-fw"></i></a>
                        <a target="_blank" href="https://www.instagram.com/ma7moud.syam/"><i class="fab fa-pinterest fa-fw"></i></a>
                    </div>


                </div>
            </div>
            <div class="col-md-4">
                <div class="caption">
                    <h3>ABOUT FREELANCE </h3>
                    <div class="p">Freelance is a free to use, licensed Bootstrap theme created by MahmoudSyam </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mini-footer text-center text-white p-4">
    <div class="p">Copyright © Your Website 2024</div>
</div>