<div class="about d-flex justify-content-center align-content-center">
    <div class="container align-items-center">
        <h1 class="text-center">ABOUT COMPONENT <i class="fa-solid fa-star"></i></h1>
        <div class="row pt-4 g-3">
            <div class="offset-md-1 col-md-5 text-white">
                Freelancer is a free bootstrap theme created by MahmoudSyam. The download includes the complete source files
                including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
            </div>
            <div class="col-md-5 text-white">Freelancer is a free bootstrap theme created by MahmoudSyam. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.            </div>
        </div>
    </div>

</div>