<div class="contact pt-5 pb-5">
    <div class="container">
        <h1 class="text-center">CONTACT COMPONENT<i class="fa-solid fa-star"></i></h1>

    </div>
    <form action="" class="container pt-5 m-auto">
        <div class="one pb-4 w-50">
            <input type="text" class="form-control" placeholder="UserName">
        </div>
        <div class="one pb-4  w-50">
            <input type="text" class="form-control" placeholder="UserAge">
        </div>
        <div class="one pb-4  w-50">
            <input type="text" class="form-control" placeholder="UserEmail">
        </div>
        <div class="one pb-4  w-50">
            <input type="password" class="form-control" placeholder="UserPassword">
        </div>
        <button class="btn">Send Message</button>
    </form>
</div>