<div class="home d-flex justify-content-center align-content-center">
    <div class="container align-items-center">
        <div class="img text-center">
            <img src="./assets/avataaars.svg" alt="" class="w-100 pb-4">
        </div>

        <h1 class="text-center text-uppercase fs-1" >mahmoud syam<i class="fa-solid fa-star"></i></h1>
        <div class="row pt-4 g-3">
            <div class="text-white">
                Graphic Designer - Web Developer - Network Engineer
            </div>
        </div>
    </div>

</div>